<app-dialog dialogType="primary">
  <div dialog-title class="title fw-500 ta-center fcolor-white">Outstanding Engagement Flags</div>
  <div dialog-content class="fs-14">
    <table mat-table [dataSource]="dataSource" matSort class="staff-table">
      <ng-container matColumnDef="weekOfDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="date">Week</th>
        <td mat-cell *matCellDef="let row" class="text-nowrap pr-35">
          {{ getBeginningOfWeek(row.weekOfDate) | date : "shortDate" }} - {{ row.weekOfDate | date : "shortDate" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="studentName">Student</th>
        <td mat-cell *matCellDef="let row" class="text-nowrap pr-35">
          <a
            [routerLink]="'staff/students'"
            [queryParams]="{ studentName: row.studentName, studentId: row.userId }"
            (click)="close()">
            {{ row.studentName }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="actualCommunications">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="actualCommunications">Communications</th>
        <td mat-cell *matCellDef="let row" class="text-nowrap pr-35">
          {{ row.actualCommunications }}

          <ng-container *ngIf="row.targetCommunications">
            out of {{ row.targetCommunications }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actualLiveLessons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="actualLiveLessons">Live Lessons</th>
        <td mat-cell *matCellDef="let row" class="text-nowrap pr-35">
          {{ row.actualLiveLessons }}

          <ng-container *ngIf="row.targetLiveLessons">
            out of {{ row.targetLiveLessons }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actualCourseHours">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="actualCourseHours">Course Hours</th>
        <td mat-cell *matCellDef="let row" class="text-nowrap">
          {{ row.actualCourseHours }}

          <ng-container *ngIf="row.targetCourseHours">
            out of {{ row.targetCourseHours }}
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div *ngIf="!dataSource.data.length" class="w-100per text-center mt-20 fcolor-gray">
      No more outstanding engagement flags.
    </div>
  </div>
  <div dialog-footer>
    <button mat-button (click)="close()" color="primary">Close</button>
  </div>
</app-dialog>
