.scroll-container {
  max-height: 600px;
  overflow-y: auto;
}

.status_circle_1 {
  color: lightgreen;
}

.status_circle_2 {
  color: yellow;
}

.status_circle_3 {
  color: orange;
}

.status_circle_4 {
  color: red;
}
