<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="FD.Base.Shared" value="https://pkgs.dev.azure.com/freedomdevsoftware/_packaging/FD.Base.Shared/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<FD.Base.Shared>
			<add key="Username" value="william.herrmann@freedomdev.com" />
			<add key="ClearTextPassword" value="hzlt2x44n2zrthgrrkkw5flj5oofbp3gd5hkzhlawqnealjc3qdq" />
		</FD.Base.Shared>
	</packageSourceCredentials>
</configuration>