.you-tube-video-content:not(.edit-mode) {
  .youtube-player-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
}

::ng-deep {
  .you-tube-video-content:not(.edit-mode) {
    iframe {
      border: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      max-width: 100%;
    }
  }
}
