<div class="admin-mentor-container">
  <button mat-raised-button class="mat-raised-button mat-primary fcolor-white" color="primary" (click)="newResource()">
    New Resource
  </button>

  <mat-card class="p-0">
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort class="staff-table mt-20">
        <!-- Options Column -->
        <ng-container matColumnDef="moreOptions">
          <th mat-header-cell *matHeaderCellDef class="moreOptions"></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editResource(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let row">{{ row.title }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let row">{{ row.category }}</td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
          <td mat-cell *matCellDef="let row">
            <a target="_blank" href="{{ row.url }}">{{ row.url }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade Levels</th>
          <td mat-cell *matCellDef="let row">{{ row.gradeLevelString }}</td>
        </ng-container>

        <ng-container matColumnDef="showOnStudentDashboard">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Show On Student Dashboard</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [checked]="row.showOnStudentDashboard" disabled></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator fixed [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
