.re-fuel-info {
  margin: 20px;
  padding: 20px;

  p {
    padding-top: 20px;
    margin: 0;
  }
}

.re-fuel-color {
  background-color: rgb(90, 104, 104);
  color: white;
}

.container {
  display: block !important;
}
