@model PdfViewModel

<!doctype html>
<html>
<head>
    <link href="/assets/_PdfLayout.css" rel="stylesheet" asp-append-version="true" />

    @RenderSection("Head", false)
</head>
<body>
    @RenderBody()
</body>
</html>