<div class="admin-mentor-container">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutWrap fxLayoutAlign="flex-start">
    <mat-form-field color="primary" class="w-400 mr-25">
      <span matPrefix>
        <mat-icon>search</mat-icon>
        &nbsp;
      </span>
      <input
        type="text"
        placeholder="Search classes (or click to see your classes)"
        matInput
        [formControl]="classFilter"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayClass">
        <mat-option *ngFor="let class of classOptions | async" [value]="class">
          {{ class.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="fs-13 w-200 mr-25">
      <input
        matInput
        [matDatepicker]="date"
        [max]="maxDate"
        [min]="minDate"
        placeholder="Start Date"
        [formControl]="dateFilter"
        (click)="date.open()"
        required />
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date startView="month"></mat-datepicker>
    </mat-form-field>

    <button *ngIf="editingAttendance" mat-raised-button color="primary" (click)="saveAttendance()" [disabled]="saving">
      <span class="fs-13 fcolor-white">Save Attendance</span>
    </button>
  </div>

  <mat-card class="p-0 mb-20 w-fit-content">
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort class="staff-table mt-20">
        <ng-container matColumnDef="hasLiveLessonPoint">
          <th mat-header-cell *matHeaderCellDef class="hasLiveLessonPoint pr-20">
            <mat-checkbox
              color="accent"
              (change)="selectAll($event)"
              matTooltip="Select/Deselect All"
              matTooltipPosition="above"
              class="mr-10"></mat-checkbox>
            Present
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (change)="editAttendance()"
              [checked]="row.hasLiveLessonPoint"
              [(ngModel)]="row.hasLiveLessonPoint"
              color="primary"
              class="mr-10"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="integrityPoints">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="integrityPoints">Integrity Points</th>
          <td mat-cell *matCellDef="let row">
            <div class="row justify-content-between pr-20 align-items-center">
              <button
                [disabled]="saving"
                mat-raised-button
                class="text-white h-content w-auto line-h-inherit px-5 hover-child"
                color="warn"
                (click)="recordPoint(row, PointsType.Integrity, -1)">
                <mat-icon>remove</mat-icon>
              </button>
              <strong class="ml-20 mr-20">{{ row.integrityPoints }}</strong>
              <button
                [disabled]="saving"
                mat-raised-button
                class="text-white h-content w-auto line-h-inherit px-5 hover-child"
                color="primary"
                (click)="recordPoint(row, PointsType.Integrity, 1)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="stewardshipPoints">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="stewardshipPoints">Stewardship Points</th>
          <td mat-cell *matCellDef="let row">
            <div class="row justify-content-between pr-20 align-items-center">
              <button
                [disabled]="saving"
                mat-raised-button
                class="text-white h-content w-auto line-h-inherit px-5 hover-child"
                color="warn"
                (click)="recordPoint(row, PointsType.Stewardship, -1)">
                <mat-icon>remove</mat-icon>
              </button>
              <strong class="ml-20 mr-20">{{ row.stewardshipPoints }}</strong>
              <button
                [disabled]="saving"
                mat-raised-button
                class="text-white h-content w-auto line-h-inherit px-5 hover-child"
                color="primary"
                (click)="recordPoint(row, PointsType.Stewardship, 1)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="respectPoints">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="respectPoints">Respect Points</th>
          <td mat-cell *matCellDef="let row">
            <div class="row justify-content-between pr-20 align-items-center">
              <button
                [disabled]="saving"
                mat-raised-button
                class="text-white h-content w-auto line-h-inherit px-5 hover-child"
                color="warn"
                (click)="recordPoint(row, PointsType.Respect, -1)">
                <mat-icon>remove</mat-icon>
              </button>
              <strong class="ml-20 mr-20">{{ row.respectPoints }}</strong>
              <button
                [disabled]="saving"
                mat-raised-button
                class="text-white h-content w-auto line-h-inherit px-5 hover-child"
                color="primary"
                (click)="recordPoint(row, PointsType.Respect, 1)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="engagementPoints">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="engagementPoints">Engagement Points</th>
          <td mat-cell *matCellDef="let row">
            <div class="row justify-content-between pr-20 align-items-center">
              <button
                [disabled]="saving"
                mat-raised-button
                class="text-white h-content w-auto line-h-inherit px-5 hover-child"
                color="warn"
                (click)="recordPoint(row, PointsType.Engagement, -1)">
                <mat-icon>remove</mat-icon>
              </button>
              <strong class="ml-20 mr-20">{{ row.engagementPoints }}</strong>
              <button
                [disabled]="saving"
                mat-raised-button
                class="text-white h-content w-auto line-h-inherit px-5 hover-child"
                color="primary"
                (click)="recordPoint(row, PointsType.Engagement, 1)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let row" class="pr-35">
            <img
              *ngIf="row.userId"
              defaultImage="assets/SelfieOutlineLoading.png"
              [lazyLoad]="environment.apiUrl + '/Common/ReturnProfilePicture/' + row.userId"
              class="studentAvatar mr-15 studentAvatarShadow mt-5"
              matTooltip="{{ row.name }}"
              matTooltipPosition="before"
              (click)="openStudentAvatarDialog(row)" />
            <div class="va-top mt-20 dis-ib">{{ row.firstName }}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let row" class="pr-35">
            {{ row.lastName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tardiness">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tardiness w-150">Tardiness</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-raised-button
              color="accent"
              class="d-none hover-child fcolor-white"
              (click)="updateTardiness(row)">
              Edit Tardiness
            </button>

            <span *ngIf="row.tardiness" class="hover-child-hide">
              {{
                row.tardiness === 1
                  ? "Late"
                  : row.tardiness === 2
                  ? "In and Out"
                  : row.tardiness === 3
                  ? "Left Early"
                  : "Disengaged"
              }}
              <!--<span *ngIf="row.tardinessComment">: "{{row.tardinessComment}}"</span>-->
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="absences">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-150">Excused Absences</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-raised-button
              color="accent"
              class="d-none hover-child fcolor-white"
              (click)="updateAbsences(row)">
              Edit Absences
            </button>
            <span *ngIf="row.absenceReason" class="hover-child-hide">
              <mat-icon>check</mat-icon>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover-parent"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
