<app-dialog dialogType="primary">
  <div dialog-title class="title fw-500 ta-center fcolor-white">Manage Email Template</div>

  <div dialog-content class="fs-14">
    <mat-form-field class="w-100per">
      <mat-label>Name</mat-label>
      <input
        #nameInput
        [(ngModel)]="emailTemplate.name"
        matInput
        placeholder="Please provide a name for your email template."
        required
        maxlength="50" />
      <mat-error>This field is required.</mat-error>
    </mat-form-field>

    <fieldset class="mt-20">
      <legend><b>Template</b></legend>
      <ng-container>
        <div [innerHTML]="emailTemplate.html | safe : 1"></div>
      </ng-container>
    </fieldset>
  </div>

  <div dialog-footer>
    <button mat-button color="warn" (click)="delete()" *ngIf="emailTemplate.id">Delete</button>
    <button mat-raised-button (click)="save()" color="primary" [disabled]="!emailTemplate.name" class="fcolor-white">
      Save
    </button>
    <button mat-button (click)="close()" color="primary">Close</button>
  </div>
</app-dialog>
