@import "/src/theme.scss";

.edit-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  button {
    margin: 0 -12px -12px 0;
  }
}

:host ::ng-deep {
  .show-answers {
    mat-radio-button {
      pointer-events: none;
      cursor: default;

      opacity: 0.5;

      &.mat-radio-checked {
        opacity: 1;

        &.mat-warn {
          color: $warn-color;
        }

        &.mat-accent {
          color: $accent-color;
        }
      }
    }
  }
}
