<form #formDirective="ngForm" [formGroup]="absenceForm">
  <app-dialog dialogType="primary">
    <div dialog-title class="title fw-500 ta-center fcolor-white">
      {{ absenceForm.controls["reason"].value === "" ? "New" : "Edit" }} Absence Entry
    </div>
    <div dialog-content class="fs-14">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [min]="minDate" [formGroup]="absenceForm" [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date" />
          <input matEndDate formControlName="endDate" placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="absenceForm.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="absenceForm.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        <mat-error
          *ngIf="
            absenceForm.controls.startDate.hasError('required') || absenceForm.controls.endDate.hasError('required')
          ">
          Date Required
        </mat-error>
      </mat-form-field>

      <mat-form-field color="primary" class="w-100per mt-20">
        <input matInput formControlName="reason" #reason autofocus="autofocus" placeholder="Reason" />
        <mat-error *ngIf="absenceForm.controls['reason'].hasError('required')">Please enter a reason</mat-error>
      </mat-form-field>
    </div>
    <div dialog-footer>
      <button
        type="submit"
        mat-raised-button
        (click)="confirm()"
        color="primary"
        class="fcolor-white"
        [disabled]="saving">
        Submit
      </button>
      <button type="button" mat-button (click)="cancel()" color="primary" class="ml-10">Close</button>
    </div>
  </app-dialog>
</form>
