<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<!-- Added to support PUT requests. -->
			<add name="aspNetCore" 
				 path="*" 
				 verb="*" 
				 modules="AspNetCoreModuleV2" 
				 resourceType="Unspecified" />
			<remove name="WebDAV" /> 
		</handlers>
		<aspNetCore processPath="dotnet"
					arguments=".\Angular.dll"
					stdoutLogEnabled="false"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess"
					startupTimeLimit="3600" /> <!-- 10 minutes - max value. -->
		<modules>
			<!-- Removed to support PUT requests. -->
			<remove name="WebDAVModule" />
		</modules>
	</system.webServer>
</configuration>

<!--  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->