<app-dialog dialogType="primary">
  <div dialog-title class="title fw-500">Assign Students to {{ staffMember.name }}</div>
  <div dialog-content>
    <mat-form-field class="example-full-width" class="mt-5 w-300">
      <span matPrefix>
        <mat-icon>search</mat-icon>
        &nbsp;
      </span>
      <input
        type="text"
        placeholder="Enter Student Name"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let student of filteredStudents$ | async"
          [value]="student.name"
          class="fs-14"
          (click)="add(student)">
          {{ student.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="mt-35">
      <div *ngIf="assignedStudents && assignedStudents.length > 0" class="studentListLabel">Student List</div>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let student of assignedStudents"
          [selectable]="selectable"
          [removable]="removable"
          class="studentChip">
          {{ student.name }}
          <mat-icon matChipRemove *ngIf="removable" class="chipRemoveIcon" (click)="remove(student)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div dialog-footer>
    <button mat-raised-button color="primary" class="fcolor-white mr-10" (click)="assignStudentsToMentor()">
      Submit
    </button>

    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</app-dialog>
