@import "../../../../../../../styles/helper.scss";

:host {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  text-align: center;
}

.studentChip {
  font-weight: normal !important;
  color: white !important;
  background-color: #4fc3f7 !important;
  font-weight: 600 !important;
}

.chipRemoveIcon {
  color: white !important;
  opacity: 0.8 !important;
}

.studentListLabel {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dialogTitle {
  @include font-weight(500);
}
